:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #1c1c1c;
    --blue: #14213d;
    --background: var(--blue);
    --foreground: var(--white);
    --width: 700px;
}

/* global design */

body {
    font-family: monospace;
    font-size: 20px;
    color: var(--foreground);
    width: var(--width);
    background-image: url("assets/pattern.png");
    background-size: 600px;
    margin: 0 auto 0 auto;
}

a {
    color: var(--foreground);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4 {
    font-weight: 100;
    text-align: center;
}

h1{font-size: 60px;}
h2{font-size: 40px;margin: -10px 0 30px 0;}
h3{font-size: 35px;}
h4{font-size: 23px;}

img.profile {
    width: calc(var(--width) - 60px);
    border-radius: 20px;
}

.reflink{
    background-color: var(--black);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid;
}

.contact h3{
  margin-bottom: 0;  
}

/* main div */

div.main {
    width: calc(var(--width) - 50px);
    padding: 1px 25px 15px;
    margin-bottom: 50px;
    background-color: var(--background);
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 0px 4px 10px var(--white);
}

.main li{
    text-align: left;
    font-size: large;
    color: silver;
    line-height: 170%;
}

.main p{
    text-align: left;
    padding: 10px;
}


/* header */

div.header {
    font-size: 18px;
    color: var(--foreground);
    padding: 0 25px 0 25px;
    margin: 10px 0 15px 0;
    text-align: center;
}

div.header .nav{
    background-color: var(--white);
    border: 2px solid silver;
    border-radius: 2px;
    padding: 5px;
}

.header a{
    color: var(--grey);
    font-size: 4vh;
}

/* nav */

ul.nav {
    margin: 0;
    padding: 3px 0 5px 0;
}

ul.nav li {
    display: inline;
    list-style-type: none;
    padding: 0 30px 0 5px;
    margin: 0;
    text-indent: 0;
    font-weight: 500;
}

/* book */

.book{
    border-bottom: 2px solid var(--foreground);
    margin-top: 25px;
}

.book img{
    height: 300px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.book h3{
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.book p{
    font-size: 18;
    line-height: 1.4;
    text-align: left;
    margin-top: 0px;
}

.book:last-of-type{
    border-bottom: none;
}

/* responsive logic */

@media screen and (max-width: 767px) {
    input.newsletter, button.subscribe, a.book {
        font-size: 30px;
        height: 46px;
    }
    input.newsletter {
        width: 300px;
    }
    button.subscribe {
        width: 150px;
    }
    a.book {
        padding-top: 8px;
        height: 38px;
        width: 450px;
    }
    p.subscribe, p.or {
        font-size: 30px;
    }
    p.subscribe {
        margin: 22px 0 23px 0;
    }
    p.or {
        margin: 22px 0 23px 0;
    }
    ul.nav {
        font-size: 30px;
        line-height: 150%;
    }
    div.main p, div.main ul { 
        font-size: 30px;
        line-height: 150%;
    }
    div.testimonial p, span.content_subtitle {
        font-size: 23px;
        line-height: 150%;
    }
    h4 {
        font-size: 30px;
    }
}
